body {
    font-family: 'Georgia', serif;
    background-color: #fff;
    color: #111;
    margin: 0;
    padding: 0;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


h1 {
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    width:auto;
    height: 100px;
    background-color: #7c8080;
    align-items: center;
    box-shadow: 2px 5px 5px;
    margin: auto;
    justify-content: center;
    display: flex;
    
    
}

.conteneur
{
 
height: 35px;
display: flex;
justify-content: center;
background-color: #8b999b;
align-items: center;
box-shadow: 3px 3px 4px black;
}
p {
    margin:16px;
}
li {
    padding: 2px 2px;
    list-style: none;
    margin: 15px;
}
#gCatering {
align-items: self-start;
}

#about {
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
}
#about h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
}
#about p {
    font-size: 1.2em;
    margin: 10px 0;
    color: #555;
}
#about ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 10px 0;
}
#about ul li {
    margin: 5px 0;
    color: #555;
}  
#about ul li a {
    color: #007BFF;
    text-decoration: none;
}
#about ul li a:hover {
    text-decoration: underline;
}
