*,::after, ::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



nav {
  position: relative;

  width: 100%;
  color: rgb(31, 33, 29);
  background: linear-gradient(to right, rgb(239, 250, 205), rgb(233, 234, 228));
}

ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin-right: 2rem; 
  height: 50px;
 
}


li{
  font-weight: 600;
  font-size: 2rem;
  margin: 1rem auto;
  
}


button{
  padding: 0.5rem;
  /* margin-left: 90%; */
  position: absolute;
  right: 0.5rem;
  top: 0.3rem;
  display: none;
}


@media ( width <= 650px){



  ul{
      background: linear-gradient(90deg, gray orange);
      flex-direction: column;
      width: 100%;
      display: none;
     
  }

  ul.menu-responsive{
      display: block;
  }

  li{
      font-weight: 600;
      font-size: 1.5rem;
      margin: 0.3rem auto;
      color: burlywood;
      text-align: center;
  }

  button {
      display: block;
  }

}

col {
    column-count: 2;
<<<<<<< HEAD
  }
  
=======
    display: flex;
  }

img {
		margin-top: 2px;
    padding: 0.5rem auto;
		width: 90%;
		height: auto;
    align-items: center;
}

.element {
  color: black;
  width: 400px;
/* height: 100px;
  display: table-cell;
  vertical-align: middle; */
  border: #8ebf42 1px solid;
}
.elt1{
  background-color: white;
  padding: 20px;
}
.elt2{
  background-color: ivory ;
  padding: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#conteneur{
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 20vh; 
  flex-wrap: wrap;  /*retour a la ligne */
  justify-content: center; 
 /* align-items: center; */
}

.flex-container > div {
  width: 25%;
  height: 60px;
  margin: 5px;
  border-radius: 3px;
  background-color: #8ebf42;
}
>>>>>>> 21fcbfad47a0ac3862d20e66e38c1fb4cb548434
